.app {
    width: 100%;
    min-height: 100vh;
}

.bg-cold {
    background: url('../Pics/compressjpeg/cold.jpg') no-repeat fixed bottom;
    background-size: cover;
}

.bg-usual {
    background: url('../Pics/compressjpeg/usual.jpg') no-repeat fixed center;
    background-size: cover;
}

.bg-warm {
    background: url('../Pics/compressjpeg/warm.jpg') no-repeat fixed center;
    background-size: cover;
}

.bg-hot {
    background: url('../Pics/compressjpeg/hot2.jpg') no-repeat fixed center;
    background-size: cover;
}

*::selection {
    background-color: black;
    color: white;
}

.parent-div {
    background-color: rgba(255, 255, 255, 0.65);
    backdrop-filter: blur(2px);
    box-shadow: 0px 0px 10px black;
    border-radius: 10px;
}

.city-input {
    background-color: transparent;
    border: none;
    border-radius: 10px;
    border-bottom: 2px solid black;
    text-align: center;
    padding: 5px 3px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
    font-size: 28px;
}

.city-input::placeholder {
    font-family: 'BYekan' !important;
    font-size:30px;
}

.city-input:focus {
    outline: none;
    border-color: grey;
    box-shadow: 0px 0px 10px grey;
}

.show-temp {
    height: 150px;
    line-height: 150px;
    font-size: 3.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
    border-radius: 10px;
    background: linear-gradient(45deg , #00CCFFA4 10% , #008080A4 50% , #00CCFFA4 90%);
    box-shadow: 0px 0px 15px black;
}

.temp {
    position: relative;
    bottom: 7px;
    right: 5px
}

.weather {
    font-size: 36px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(0, 82, 82);
    padding: 5px 0px;
    border-bottom: 2px solid rgb(0, 82, 82);
}


.my-spinner {
    width: 60px;
    height: 60px;
}